* {
  font-family: 'Antic', sans-serif;
}

html, body, .container {
  height: 100vh;
  margin: 0;
  padding: 0;
}


h1 {
  color: grey;
  font-weight: bolder;
  text-transform: uppercase;
}

hr {
  margin: 0px;
}


input {
  margin: 0.25em;
  border-radius: 2px;
}

li {
  margin: 0;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

li:hover, button:hover, select:hover, input:hover {
  background-color: #3399ff;
  color: white;
}

.options-box {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: grid;
}

#pano {
  width: 200px;
  height: 200px;
}

@media screen and (min-width: 0px) and (max-width: 400px) and (min-height: 430px) {
 h1 {
    font-size: 1.2em;
  }

  h2 {
    font-size: 1.2em;
  }

  input, select {
    font-size: 1em;
    border-width: thin;
    border-color: grey;
    background-color: white;
    font-weight: bold;
    color: grey;
  }

  label {
    font-size: 1em;
  }

  li {
    min-height: 8.4%;
    font-size: 1.2em;
  }

  ul {
    list-style-type: none;
    padding: 0;
    height: 100%;
    overflow: auto;
  }

  #map {
    bottom:0px;
    height: 100%;
    left: 75%;
    position: absolute;
    right: 0px;
  }

  #menu-button {
    width: 100%;
    height: 100%;
    transform: scaleX(-1);
  }

  #button-container {
    position: absolute;
    left: 75%;
    height: 15%;
    width: 7%;
    bottom: 37.5%;
    z-index: 3;
  }

  #button-container:hover {
    background-color: #3399ffba;
    border-radius: 5px;
  }

  .container {
    width: 75%;
  }

  .top-of-menu {
    height: 45%;
  }

  .location-container {
    height: 55%;
  }

}

@media screen and (min-width: 400px) and (max-width: 521px)  and (min-height: 430px) {
  h1 {
    font-size: 1.2em;
    padding: 0;
    margin: 0;
  }

  h2 {
    font-size: 1.2em;
  }

  input, select {
    font-size: 1em;
    border-width: thin;
    border-color: grey;
    background-color: white;
    font-weight: bold;
    color: grey;
  }

  label {
    font-size: 1.4em;
  }

  li {
    min-height: 10%;
    font-size: 1.2em;
  }

  ul {
    list-style-type: none;
    padding: 0;
    height: 58.5vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }


  #map {
    bottom:0px;
    height: 100vh;
    left: 75%;
    position: absolute;
    right: 0px;
  }

  #menu-button {
    width: 100%;
    height: 100%;
    transform: scaleX(-1);
  }

  #button-container {
    position: absolute;
    left: 75%;
    height: 15%;
    width: 7%;
    bottom: 37.5%;
    z-index: 3;
  }

  #button-container:hover {
    background-color: #3399ffba;
    border-radius: 5px;
  }

  .container {
    width: 75vw;
  }

  .top-of-menu {
    height: 30vh;
  }

  .location-container {
    height: 60vh;
    width: 72vw;
  }
}

@media screen and (min-width: 521px) and (max-width: 823px) and (min-height: 430px) {
  h1 {
    font-size: 1.4em;
    margin: 0;
    padding: 0.5%;
  }

  h2 {
    font-size: 1.2em;
  }

  input, select {
    font-size: 1.2em;
    border-width: thin;
    border-color: grey;
    background-color: white;
    font-weight: bold;
    color: grey;
  }

  label {
    font-size: 1.2em;
  }

  li {
    min-height: 10%;
    font-size: 1.2em;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  #map {
    bottom:0px;
    height: 100vh;
    left: 75%;
    position: absolute;
    right: 0px;
  }

  #menu-button {
    width: 100%;
    height: 100%;
    transform: scaleX(-1);
  }

  #button-container {
    position: absolute;
    left: 75%;
    height: 15%;
    width: 7%;
    bottom: 37.5%;
    z-index: 3;
  }

  #button-container:hover {
    background-color: #3399ffba;
    border-radius: 5px;
  }

  .container {
    width: 75vw;
  }

  .top-of-menu {
    height: 30vh;
  }

  .locations-container {
    height: 70vh;
    width: 75vw;
  }
}

@media screen and (min-width: 823px) and (max-width: 1049px) and (min-height: 430px) {
  h1 {
    font-size: 1.2em;
    margin: 0;
    padding: 1%;
  }

  h2 {
    font-size: 1.1em;
  }

  input, select {
    font-size: 1.1em;
    border-width: thin;
    border-color: grey;
    background-color: white;
    font-weight: bold;
    color: grey;
  }

  label {
    font-size: 1.1em;
  }

  li {
    height: 10%;
    font-size: 1.1em;
  }


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 57.6vh;
    overflow-y: scroll;
    oveerflow-x: hidden;
  }

  #button-container {
    visibility: hidden;
    position: absolute;
    left: 75%;
    height: 15%;
    width: 7%;
    bottom: 37.5%;
    z-index: 3;
  }

  #map {
    bottom:0px;
    height: 100vh;
    left: 45%;
    position: absolute;
    right: 0px;
  }

  .container {
    width: 45vw;
  }

  .top-of-menu {
    height: 30vh;
  }

  .locations-container {
    height: 70vh;
    width: 44.35vw;
  }
}

@media screen and (min-width: 1049px) and (max-width: 1312px) and (min-height: 430px) {
  h1 {
    font-size: 1.4em;
    margin: 0;
    padding: 1%;
  }

  h2 {
    font-size: 1.4em;
  }

  input, select {
    font-size: 1.2em;
    border-width: thin;
    border-color: grey;
    background-color: white;
    font-weight: bold;
    color: grey;
  }

  label {
    font-size: 1.2em;
  }

  li {
    min-height: 10%;
    font-size: 1.1em;
  }

  ul {
    list-style-type: none;
    padding: 0;
    height: 59.0vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  #button-container {
    visibility: hidden;
    position: absolute;
    left: 75%;
    height: 15%;
    width: 7%;
    bottom: 37.5%;
    z-index: 3;
  }

  #map {
    bottom:0px;
    height: 100vh;
    left: 34%;
    position: absolute;
    right: 0px;
  }

  .container {
    width: 34%;
  }

  .top-of-menu {
    height: 30vh;
  }

  .locations-container {
    height: 70vh;
  }
}

@media screen and (min-width: 1312px) and (min-height: 430px) {
  li {
    min-height: 10%;
    font-size: 1.4em;
    margin: 0;
    padding: 1%;
  }

  h1 {
    font-size: 1.4em;
  }

  h2 {
    font-size: 1.4em;
  }

  input, select {
    font-size: 1.2em;
    border-width: thin;
    border-color: grey;
    background-color: white;
    font-weight: bold;
    color: grey;
  }

  label {
    font-size: 1.2em;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 59.0vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  #button-container {
    visibility: hidden;
    position: absolute;
    left: 75%;
    height: 15%;
    width: 7%;
    bottom: 37.5%;
    z-index: 3;
  }

  #map { 
    height: 100vh;
    width: 75%;
    left: 25%;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
  }

  .container {
    width: 25%;
  }

  .top-of-menu {
    height: 30vh;
  }
  
  .locations-container {
    height: 70vh;
    width: 24.7vw;
  }
}
